* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
  }
  
  h1 {
    text-align: center;
  }

  .events-container {
    color: #0A2239;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 2rem 0;
  }
  
  .calendar {
    width: 94vw;
    max-width: 25rem;
    height: 31.5rem;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.2);
  }
  
  .month {
    width: 94vw;
    max-width: inherit;
    height: 6rem;
    background-color: #7AB6CD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
  }
  
  .month i {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .month h2 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
  }
  
  .weekdays {
    width: 94vw;
    max-width: inherit;
    height: 3rem;
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .weekdays div {
    letter-spacing: 0.1rem;
    width: calc(20rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .days {
    width: 94vw;
    max-width: inherit;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0.2rem;
  }
  
  .days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
  }
  
  .days div:hover:not(.today) {
    background-color: #0A2239;
    color: #fff;
    cursor: pointer;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: #0A2239;
    color: #fff;
  }