@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
}
nav, footer {
    background-color: #7AB6CD;
}
main {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: (1fr, 1fr, 1fr, 1fr, 1fr);
    grid-template-rows: (1fr, 1fr, 1fr, 1fr, 1fr);
}
#home-top-section{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: (1fr, 1fr, 1fr, 1fr, 1fr);
    grid-template-rows: (1fr, 1fr, 1fr, 1fr, 1fr); 
    grid-gap: 1em;
}
#home-top-section-image {
    grid-column: 1/3;
}
.home-top-section-text {
    grid-column: 4/6;
}
#home-top-section-p {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
}
#home-card-section {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: (1fr, 1fr, 1fr, 1fr, 1fr);
    grid-template-rows: (1fr, 1fr, 1fr, 1fr, 1fr); 
    grid-gap: 3em;
    padding-top: 20px;
    padding-bottom: 20px;
}
#home-card-calendar {
    grid-column: 1/2;
    padding-top: 2em;
}
#home-card-articles {
    grid-column: 2/3;
    padding-top: 2em;
}
#home-card-intern {
    grid-column: 3/4;
    padding-top: 2em;
}
#home-card-faqs {
    grid-column: 1/2;
}
#home-card-about {
    grid-column: 2/3;
}
#home-card-project {
    grid-column: 3/4;
}
#home-top-section-image {
    width: 350px; 
}
#logo {
    width: 150px;
    position: absolute;
    top: 0%;
    left: 13%;
}
.nav-links {
    padding: 30px;
    color: #0A2239;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.nav-links:hover {
    text-decoration: underline;
    color: #15497A;
}
.nav-links:visited {
    color: #0A2239;
}
.nav-right {
    text-align: right;
    padding-right: 110px;
    padding-top: 15px;
}
#join-button {
    position: absolute;
    top: 0;
    left: 93%;
    padding-top: 14px;
}
#join {
    color: white;
    background-color: #0A2239;
    border: solid 1px white;
    box-shadow: 4px 4px 8px #999999;
    width: 80px;
    height: 33px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
#join:hover {
    text-decoration: underline;
}
nav {
    height: 55px;
}
main {
    padding-top: 60px;
}
.home-images {
    width: 280px;
    padding: 15px;
}
.home-card {
    border: #cccccc solid 1px;
}
.home-card:hover {
    box-shadow: 5px 10px 8px #999999;
}
.home-card-titles {
    text-align: center;
}
footer {
    height: 90px;
}
#footer-logo {
    float: left;
    width: 150px;
}
#footer-links {
    text-align: center;
    padding-top: 1em;
}
.footer-content {
    list-style-type: none;
    display: inline;
    padding: 2em;
    color: #0A2239;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 17px;
}
.footer-content:visited {
    color: #0A2239;
}
#copy {
    text-align: center;
    padding-top: 1em;
}
.home-card {
    font-family: 'Oswald', sans-serif;
    color: #15497A;
}
.home-card:visited {
    font-family: 'Oswald', sans-serif;
    color: #15497A;
}
.home-card:active {
    font-family: 'Oswald', sans-serif;
    color: #15497A;
}
.home-card:hover {
    font-family: 'Oswald', sans-serif;
    color: #0A2239;
}
#copy {
    color: #15497A;
    font-family: 'Oswald', sans-serif;
}
#home-top-section {
    font-family: 'Nanum Gothic', sans-serif;
    color: #0A2239;
}

/* About page styles */
    section h1 {
        font-family: 'Nanum Gothic', sans-serif;
        margin-bottom: 0.5rem;
        text-align: center;
        font-size: 2rem;
    }
    .officers {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Nanum Gothic', sans-serif;
        margin-bottom: 2.5rem;
        justify-items: center;
        align-items: start;
        grid-gap: 1.5rem;
        justify-content: space-around;
    }
    .officers h1 {
        width: 100%;
    }
    .officer {
        display: flex;
        position: relative;
        border: 1px solid var(--site-gray);
        flex-direction: column;
        padding: 1rem;
        width: 250px;
    }
    .officer:hover {
        box-shadow: 5px 10px 8px var(--site-gray);
    }
    .officer-img {
        /* This CSS keeps the image a square, without allowing the bad "stretching" and "squishing" */
        width: 250px;
        height: 250px;
        object-fit: cover;
        object-position: center;
    }
    .officer-name {
        margin-top: 1rem;
        text-align: center;
    }
    .officer-title {
        font-size: small;
        text-align: center;
    }
    .contact-grid {
        display: grid;
        margin: 1rem auto 2rem;
        grid-template-columns: repeat(3, max-content);
        grid-column-gap: 1rem;
        align-items: center;
        width: max-content;
    }
    .contact-grid span {
        font-size: 0.9rem;
        font-family: sans-serif;
    }
    .contact-grid span::before,
    .contact-grid span::after {
        content: ' — ';
    }
    .contact-info {
        display: block;
        font-weight: bold;
        text-decoration: none;
        background-color: var(--logo-orange);
        font-family: var(--nanum-font);
        border-radius: 5px;
        color: #0A2239;
        color: var(--logo-navy);
        cursor: pointer;
        padding: 1rem;
    }
    .contact-info:hover {
        box-shadow: 2px 2px 10px darkslategray;
    }
/* About page styles */
